@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primaryRed: #e20715;
  --primaryBlue: #2a2d7b;
  --textBold: 500;
  --textRegular: 400;
  --textLight: 300;
}

body {
  background-color: var(--background);
  font-family: "Open Sans", sans-serif;
}